#voucher_list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 5%;
    
}
.voucher{
    text-align: center;
}
#top_section{
    display: flex;
    justify-content: space-between;
}